@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Mukta:wght@400;700&display=swap');

:root{
--primary-color:#dfbcf7;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #dfbcf7;
}
.container
{
 display:flex;
 flex-direction: column;
 width:60%;
 margin:auto;
}
.heading
{
    margin-top: 3rem;
    padding: 1rem;
    text-align: center;
}
.description
{
    text-align: center;
    padding: 1rem;
}
.line{
    margin: auto;
}
label
{
padding: 0.7rem;
text-align: center;

}
#bill-amount
{ 
    margin:auto;
    padding: 0.3rem;
    border: 0.5px solid black;
    border-radius: 0.5rem;

}
#cash-given
{
    margin:auto;
    padding: 0.3rem;
    border: 0.5px solid black;
    border-radius: 0.5rem;

}
#check-button
{
    margin:auto;
    padding: 0.5rem;
    width: 20vh;
    border-radius: 1rem;
    margin-top: 1rem;
}
button:hover
{
    background-color: #dfbcf7;
}
#error-message
{
    margin: auto;
}
.change-table
{
    margin: auto;
}
.caption{
    padding: 1rem;
    font-size: 20px;
    font-weight: bold;
}
th,
td
{
    border: 1px solid black;
    width: 0%;
    border-collapse: collapse;
    padding: 0.4rem;
}

footer {
    text-align: center;
  }
  
  footer p {
    font-size: large;
    text-align: center;
    margin-top: 6rem;
  }
  
  .footer-list {
    margin: 1rem;
  }
  
  a,
  img,
  li {
    display: inline;
  }
  
  img {
    width: 40px;
    padding: 0.2rem;
  }
  